@import "../../utils/style/variables.scss";

.text-light {
  color: $gray;
  font-weight: 300;
  font-size: 0.8rem;
}

.text-bold {
  font-weight: bold;
}

.drawer-container {
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  background-color: #fff;
  overflow-y: auto;
  & p {
    margin: 0;
  }
}
@media (max-width: $breakpoint-tablet) {
  .drawer-container {
    width: 100%;
    left: 0;
  }
}

.drawer-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  position: relative;
}

.company-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  & > img {
    width: 50px;
    height: 50px;
  }
  & > span {
    margin: 0.5rem;
    font-weight: bold;
  }
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $gray;
  }
}

.info-box {
  margin-top: 2rem;
}

.agent {
  display: inline-grid;
  grid-template-columns: 3fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  margin: 1rem 0;
  width: 100%;
}
.agent-info {
  display: flex;
  align-items: center;
  justify-self: start;
  & img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
}

.video-link {
  color: $black;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $gray;
  }
  & span {
    margin-left: 1rem;
  }
}
